.card {
  font-family: "MyFont", sans-serif;
  width: 500px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
}
.header {
  display: flex;
  justify-content: center;
  filter: none;
}
.card p {
  color: black;
  font-size: 1rem;
  align-items: center;
  filter: none; /* Remove the filter for paragraphs that don't have the 'filter' class */
}

.filter {
  display: none;
  position: absolute;
}
